html, body{
	margin: 0;
	padding: 0;
	background: #fafafa;
	min-height: 100%;
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.image-container{
	width: 90%;
	max-width: 800px;
	height: 600px;
	background: #fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	margin: 20px;
}
#plot{
/*	padding: 50px;
	box-sizing: border-box;
*/
}
#plot svg{
    /*border: 1px solid #faa;*/
}